.pressItemWrapper {
     list-style-type: disc;
     font-size: 14px;
     margin: 10px 0px 10px 10px;
}

.pressItem {
     color: rgb(182, 182, 182);
}

.pressItem:hover {
     color: rgb(182, 182, 182);
     text-decoration: underline;
}

.tag:not(body).is-dark {
     word-wrap: normal;
     background-color: #363636;
     color: whitesmoke;
     font-size: 17px;
     -moz-box-shadow: 0 0 3px #333333;
     -webkit-box-shadow: 0 0 3px #333333;
     box-shadow: 0 0 3px #333333;
}
